<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/nav.css" />
    <title>Document</title>
</head>
<body>
    <h2>키워드 검색</h2>
    <form action ="list" method="POST">
        <input type="text" name = "keyword" placeholder="상품 검색" th:value="${keyword}">
        <button type="submit">검색</button>
    </form>
    <h3>상품목록</h3>
      <hr />
      <table style="width: 900px; padding: 10px" id="product">
        <tr>
          <th>상품코드</th>
          <th>카테고리</th>
          <th>상품명</th>
          <th>가격</th>
        </tr>
        <tr th:each="pDto : ${list}">
          <td th:text="${pDto.pcode}"></td>
          <td th:text="${pDto.pcategory}"></td>
          <td th:text="${pDto.pname}"></td>
          <td th:text="${#numbers.formatCurrency(pDto.price)}"></td>
        </tr>
      </table> 
    </div>
    <a href="search?keyword=라면&page=99">라면과2페이지</a>
    <a href="search2?pname=라면&price=10000">DTO</a>
    <a href="/">홈페이지</a>
</body>
</html>